@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<h2>Who are we?</h2>
<p>Abdullah Tables Inc. created in 1999 is a leader in the tables market. We are providing the best tables from the best materials and quality.</p>

<h2>Expanding</h2>
<p>Today, Abdullah Tables Inc. has more than 200 stores in North America and more than 10 manufactories around the world. With more than 2000 employees, Our company try to reach an International level.</p>

<h2>Our Slogan</h2>
<p>As always our slogan will be <strong>The best prices for the best quality!!!</strong></p>
