@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Abdullah Tables Inc.</h1>
    <p>Our company is one of the leaders for providing the best tables. Our products are the best best in the market with the best quality to satisfy our customers. Our slogan is <strong>The best prices for the best quality!!!</strong></p>
    
</div>
